<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android"
		id="phonegap-sharedimage" 
		version="1.0.8">
		
	<name>SharedImage</name>
	<description>This plugin will allow your app to receive shared image intents easily.</description>
	<license>MIT</license>
	<keywords>cordova, image, intent</keywords>
	<js-module src="www/sharedimage.js" name="sharedimage">
		<clobbers target="window.plugins.socialsharing" />
	</js-module>
   <!-- android -->
  <platform name="android">

	<config-file target="res/xml/config.xml" parent="/*">
	  <feature name="SharedImage">
		<param name="android-package" value="com.lensley.phonegap.SharedImage " />
	  </feature>
	</config-file>

	<config-file target="AndroidManifest.xml" parent="/*">
	  
	  <intent-filter>
		<action android:name="android.intent.action.SEND" />
		<data android:mimeType="image/*" />
		<category android:name="android.intent.category.DEFAULT" />
	  </intent-filter>
	</config-file>

	<source-file src="src/com/lensley/phonegap/SharedImage.java" target-dir="src/com/lensley/phonegap"/>
  </platform>
</plugin>